@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#root{
  padding: 0 !important;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #1504a8 0%, #41709c 70%, #803969 100%);
    color: #333333;
  }
  .feedback {
    height: 100vh;
    background: linear-gradient(120deg, #1504a8 0%, #41709c 70%, #803969 100%);
    color: #FFFFFF;
   
  }
  
