.headerHero {
    display: flex;
    align-items: center;
    position: relative;
    top:4vh;
    color: white;
    z-index: 99999;
  }

  .headerHero h1 {
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
      font-family: 'Roboto', sans-serif;
      position: relative;
      left:10vw;
      display: flex;
      align-items: center;
      gap: 20px;
  }
  .headerHero img {
    height: 80px;
    width: auto;
    margin-right: 20px;
    transition: transform 0.3s ease;
    margin: 0%;
  }
  
  .headerHero img:hover {
    transform: scale(1.2); /* Slightly enlarge the image on hover */
  }

  .headerHero > div {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 3rem; 
  }

  .headerHero > div a {
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      color: inherit;
      font-size: 1rem;
  }
