.headerHero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:1vh;
    color: white;
  }

  .headerHero h1 {
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
      font-family: 'Roboto', sans-serif;
      position: relative;
      left:10vw;
  }

  .headerHero > div {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 3rem; 
  }

  .headerHero > div a {
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      color: inherit;
  }
