@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#root{
  padding: 0 !important;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #040027 0%, #41709c 70%, #803969 100%);
    color: #333333;
  }
  .settings {
    height: 100vh;
    background: linear-gradient(120deg, #040027 0%, #41709c 70%, #803969 100%);
    color: #FFFFFF;
    
   
  }
  .settings h2 {
    position: absolute;
    left: 19vw;
    top: 15vh;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  .settings-properties{
    position: absolute;
    left: 20vw;
    top: 25vh;
    padding: 30px;
    border: 1px solid white;
    width: 25vw;
    
  }
  .btnDiv{
    display: flex;
    gap: 30px;
    width: 30vw;
  }
  .settings-cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #e7af00;
    transition: background-color 0.3s ease;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    width: 180px;
  }
  .settings-cta-button:hover{
    background-color: #ffb300;
  }
  .formDiv{
    display: flex; 
    margin-bottom: 50px;
    width: 20vw;
    justify-content: space-between;
    align-items: center;
    justify-items: flex-end;
  }

  
.site-change-popup1 {
    position: absolute !important;
    top: 27vh !important;
    left: 60vw !important;
    border: 1px solid black !important;
    padding: 1px !important;
    z-index: 10000 !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
    width: 270px !important;
    max-height: 99vh !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    
}

.header-hover:hover {
    cursor: grab !important;
}


.header-hover {
    position: sticky !important;
    top: 0 !important;
    padding: 10px !important;
    margin: 0 !important;
    z-index: 10001 !important;
    border-bottom: 1px solid black !important;
    border-radius: 0 !important;
    width: 270px !important;
    display: flex !important;
    justify-content: space-between !important;
    box-sizing: border-box !important;
}

.hover-pointer:hover {
    cursor: pointer !important;
}

.preview {
    position: absolute;
    left: -310px;
    top: 0;
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    height: 300px;
}

h1 {
    margin: 0 !important;
    font-size: 25px !important;
}

.new-tab-btn {
    height: 20px !important;
    width: 20px !important;
    align-self: center !important;
}
.wrapper {
  display: flex !important;
  gap: 20px !important;
  justify-content: space-between !important;
  padding: 10px !important;
  margin: 0px !important;
  width: 270px !important;
  box-sizing: border-box !important;
  border-radius: 0 !important;
}

.wrapper-label {
  box-sizing: border-box !important;
  display: flex !important;
  padding: 0px !important;
  margin: 0px !important;
  width: 210px !important;
  align-items: center;
}

.label {
  width: 180px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  
}

.icon {
  width: 20px !important;
  height: 20px !important;
  margin-right: 5px !important;
}

.btn {
  height: 20px !important;
  width: 20px !important;
}
.historyBtn{
  position: relative;
  margin: auto;
  margin-bottom: 5px;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 20px;
}

  