@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

#root{
  padding: 0 !important;
  background: linear-gradient(120deg, #040027 0%, #41709c 70%, #803969 100%) !important;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333333;
  }
  
  header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
  } 
  
  header nav h1 {
    margin: 0;
    color: #FFFFFF;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hero {
    height: 100vh;
    color: #FFFFFF;
   
  }

  .hero-content {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    gap: 20px; /* Adjust the gap between the elements */
    padding: 20px; /* Adjust padding as needed */
    height: 90vh;
  }
  
  .div-content {
    margin-top: 20vh;
    margin-right: 5vw;
  }
  
  .hero-content h2 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .hero-content p {
    font-size: 20px;
    margin: 0;
    width: 500px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color:#e7af00 ;
    /* #ffca28 */
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 50px;
    font-size: 1.2rem;
  }
  
  .cta-button:hover {
    background-color: #ffb300;
  }
  
  .img-tab-open, .img-tab {
    margin-top: 14vh;
    max-width: 30vw; /* Adjust the max width as needed */
    height: auto; /* Maintain aspect ratio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
    border-radius: 8px; /* Adding some rounded corners */
  }

  /* Functions Section */
.functions {
  width: 98vw;
  height: 100vh;
  padding: 40px 20px;
  text-align: left;
  color: #fff;
}

.function-item {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  width: 97vw;
}

.function-item:hover {
  transform: translateY(-5px);
}

.function-item h3 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.function-item p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.link {
  color: #FFFFFF;
  text-decoration: underline;
}

/* Additional Styles */
.features-list {
  font-size: 1.2rem;
  list-style-type: none;
  padding: 0;
}

.features-list li {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.features-list li::before {
  content: '✔️';
  margin-right: 10px;
  color: #00ff00;
}