@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#root{
  padding: 0 !important;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #009688;
    color: #333333;
  }
  
  header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
  } 
  
  header nav h1 {
    margin: 0;
    color: #FFFFFF;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hero {
    height: 100vh;
    background-color: #009688;
    color: #FFFFFF;
   
  }
  .hero-content{
    display: flex;
    flex-direction: column;
  }
  .div-content{
    position: relative;
    justify-self: center;
    margin-top: 20vh;
    margin-left: 10vw;
    
  }
  .hero-content h2 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  .hero-content p {
    font-size: 20px;
    margin: 0;
    width: 500px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #FF9800;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 50px;
  }
  
  .cta-button:hover {
    background-color: #E68900;
  }